html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Courier New", Courier, monospace;
	line-height: 1;
}

body {
	background-color: black;
}

#ui {
	width: 100%;
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

#counters {
	display: flex;
}

#counters div {
	margin: 8px;
	padding: 8px 24px;
	background-color: white;
	border: 1px solid black;
	font-weight: bold;
	font-size: 16px;
}

#menu {
	margin: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#collapse {
	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid black;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	user-select: none;
}

#char {
	padding: 8px 24px;
	background-color: white;
	border: 1px solid black;
}

#char[data-open="true"] {
	display: block;
}

#char[data-open="false"] {
	display: none;
}

#char section {
	margin-bottom: 24px;
}

#char section:last-child {
	margin-bottom: 0;
}

#char h2 {
	margin: 0 0 24px 0;
	font-size: 18px;
}

.stat-column {
	display: grid;
	grid-template-columns: min-content min-content min-content;
	grid-column-gap: 24px;
	grid-row-gap: 2px;
}

.stat-name {
	text-transform: capitalize;
}

.stat-value {
	display: grid;
	grid-auto-flow: column;
	justify-content: flex-start;
	grid-gap: 4px;
}

.stat-actions {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 8px;
}

.stat-actions button {
	min-width: 16px;
	height: 16px;
	padding: 0;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	line-height: 16px;
	border: 1px solid black;
	background-color: white;
	cursor: pointer;
}

.stat-actions button:disabled {
	border: 1px solid gray;
	background-color: lightgray;
}

#game-over {
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 20;
}

#game-over[data-show="true"] {
	display: grid;
}

#game-over[data-show="false"] {
	display: none;
}

#game-over div {
	border: 1px solid black;
	padding: 8px 24px;
	font-size: 24px;
	background-color: white;
}

#game-over div button {
	width: 100%;
	cursor: pointer;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	border: 1px solid black;
	padding: 8px 24px;
	background-color: white;
}
